.case-section
{
    width: 90%;
    margin: auto;
}
.case-section .case-header
{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}
.case-section .case-header p
{
    width: 50%;
}
.case-section .case-header h2
{
    background-color: var(--green-clr);
    padding: 5px 7px;
    border-radius: var(--border-radius-7);
}
.case-container
{
    background-color: var(--dark-clr);
    padding: 70px 0;
    border-radius: var(--border-radius-45);
    margin-bottom: 140px;
}
.case-container .case
{
    padding: 0 60px;
    border-left: 1px solid var(--white-clr);
}
.case-container .case p
{
    color: var(--white-clr);
    margin-bottom: 20px;
}
.case-container .case button
{
    gap: 10px;
    background-color: transparent;
    color: var(--green-clr);
    font-size: var(--font-size-20);
}
.case-container .case button:hover img
{
    margin-left: 20px;
}